@import "tailwindcss";


@theme {

  --font-lora: "Lora", "serif";
  --font-roboto: "Roboto", "sans-serif";
  --font-monsterrat: "Montserrat", "sans-serif";
  --font-manrope: "Manrope", "sans-serif";


  --color-primary: #6F00FF;
  --color-secondary: #0046FF;

}

html{
  scroll-behavior: smooth;
}